astroid==4.0.1
click==8.3.0
dill==0.4.0
exif==1.6.1
isort==7.0.0
lazy-object-proxy==1.12.0
mccabe==0.7.0
mp3-tagger==1.0
packaging==25.0
platformdirs==4.5.0
plum-py==0.8.7
progress==1.6.1
pylint==4.0.2
PyPDF2==3.0.1
pytaglib==3.0.1
pytoolconfig==1.3.1
rope==1.14.0
six==1.17.0
toml==0.10.2
tomlkit==0.13.3
wrapt==2.0.0
